---
import { Image } from "astro:assets";

type Props = {
  image: any;
  title: string;
  date: string;
  slug: string;
  author: string;
};

const { image, title, date, slug, author } = Astro.props;
---

<div
  class="items-center bg-slate-50 rounded-lg shadow sm:flex relative overflow-hidden"
>
  <a href={`blog/${slug}`}>
    <Image
      class="w-full rounded-lg sm:rounded-none"
      src={image}
      alt={"Bonnie Avatar"}
    />

    <div class="p-5">
      <h3 class="text-xl font-bold tracking-tight text-gray-900">
        <a href="#">{title}</a>
      </h3>

      <span class="text-gray-500 dark:text-gray-400">{date} {author}</span>
      <p class="mt-3 mb-4 font-light text-gray-500">
        Bonnie drives the technical strategy of the flowbite platform and brand.
      </p>
    </div>
  </a>
</div>
